body{
	/* text-align: center; */
	background-image:url(../imgs/concrete_seamless.png);
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

button a {
    font-size: 11px;
}




form.search_username {
text-align: right;
}

.header{
	background-color: rgba(130, 72, 70, 0.84);

	height: 135px;

	/* text-align: center; */
	padding: 15px;
	margin-bottom: 20px;

	/* text-align: right; */
	position: relative;
}

.image {
	height: 200px;
}

.login a{
	font-size: 1.2em;
}

.form {
	margin: 15px;
}

.footer{
	background-color: rgba(130, 72, 70, 0.84);
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.nav-top {
    position: absolute;
    bottom: -20px;
}


.nav-top ol {
    -webkit-padding-start:  0px;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* height: 100px; */
}

.nav-top li {
    position: relative;
    display: inline-flex;
    margin: 15px;
    background: gainsboro;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 7px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
}

.nav-top li:active {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
top: 6px;
}

.picture-wraper{
	width: 350px;
	display: inline-block;
	margin: 20px;
	text-align: center;
}


.login {
	right: 9%;
	position: absolute;
	color: white;
}

.title{
	text-align: center;
	font-size: 1.1em;
	color: rgb(0, 0, 0);
	
	margin-bottom: 5px;
}
h1.search-title{
	position: relative;

	top: 3px;
}

.search-form {
	position: relative;
	margin: 50px auto;
	width: 280px;
	padding: 33px 25px 29px;
	background: white;
	border-bottom: 1px solid #c4c4c4;
	border-radius: 5px;
	/*-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.search-input{
	width: 79%;
	height: 50px;
	margin-bottom: 25px;
	padding: 0 15px 2px;
	font-size: 17px;
	background: white;
	border: 2px solid #ebebeb;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -2px #ebebeb;
	box-shadow: inset 0 -2px #ebebeb;

}

.search-input:focus{
	border-color: #62c2e4;
	outline: none;
	/* -webkit-box-shadow: inset 0 -2px #62c2e4; */
	box-shadow: inset 0 -2px #62c2e4;
}

.search-button {
	position: relative;
	/* vertical-align: super; */
	width: 62%;
	height: 50px;
	padding: 0;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #B2564E;
	border: 0;
	border-bottom: 2px solid #904B49;
	border-radius: 5px;
	cursor: pointer;
	/*-webkit-box-shadow: inset 0 -2px #d76b60;*/
	box-shadow: inset 0 -2px #904B49;
}


.sign-in-form {
	margin-left: 20px;
	/* bottom: 5px; */
	height: 21%;
	position: absolute;
	right: 7%;
	/* top: 15%; */
	margin-top: 45px;
}



.sign-in-button {
	position: relative;
	/* vertical-align: super; */
	width: 137px;
	height: 40px;
	/* padding: 0; */
	font-size: 16px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #B2564E;
	border: 0;
	border-bottom: 2px solid #904B49;
	border-radius: 5px;
	cursor: pointer;
	/*-webkit-box-shadow: inset 0 -2px #d76b60;*/
	box-shadow: inset 0 -2px #904B49;
}

.user-header {
    height: 100px;
    position: relative;
}

.user-header button {
position: absolute;
right: 10px;
bottom: -17px;
background: gainsboro;
border: 1px solid rgb(182, 182, 182);
border-radius: 5px;
padding: 3px 7px;
box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.39);
}

.user-header button:active {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
bottom: -20px;
}

.user-header img {
	right: -2px;
	position: absolute;
	bottom: 14px;
	border: 1px solid black;
	border-radius: 50%;
	height: 80%;
}

p#username {
    right: 20px;
    position: absolute;
    top: -32px;
}


















h1#title {
    font-family: verdana;
    color: rgb(255, 189, 114);
    float: left;
}














