  <% if @response_token %>
    <div>
      <p>
        <strong>Response token info: </strong><%= @response_token %><br>
        <strong>token:</strong> <%= @response_token.access_token %><br>
        <strong>secret:</strong> <%= @response_token %><br>
      </p>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <form action="/oauth/connect" method="get">
      <input type="submit" value="Sign In with Instagram" />
    </form>
  <% end %>



<div class="post-container">




</div>



<div class="picture-wrapper" style="display: none">
	<div class="title">
		PIG ON A FARM
	</div>
	<div class="picture">
		<img class="image" src="/imgs/piggy2.jpg" alt="pic1">
	</div>
</div>

<div class="picture-wrapper">
	<div class="title">
		JUST DO IT
	</div>
	<div class="picture">
		<img class="image" src="/imgs/just-do-it.jpg" alt="pic1">
	</div>
</div>