<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<div class="header">

  <div class="login"><a href="https://api.instagram.com/oauth/authorize/?client_id=<%= @CLIENT_ID %>&redirect_uri=http://localhost:9393&response_type=code">Login</a></div>


  <div class="form">
    <form id="search_username" class="search-form" method="post" action="/">
      <h1 class="search-title">
        Username to view
      </h1>
      <input name="username" type="text" class="search-input" placeholder="What's your username?" autofocus="" autocomplete="off" style="cursor: pointer; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
      <input type="submit" value="search" class="search-button">
    </form>
  </div>

</div>

  <%= yield %>


<div class="footer">
  footer
</div>


  
</body>
</html>

