<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="/js/application.js"></script>
  <script src="/js/map.js"></script>

  <title></title>
</head>
<body>

  <div class="header">
  <h1 id="title"><a href="/profile">Webstamap</a></h1>
    <% if logged_in? %>
      <div class="user-header">

        <p id="username">Welcome <%= @user.username %><p>
        <img src="<%= @user.profile_pic %>" alt="profile_picture">
        <button><a href="/sign_out">Sign Out</a></button>
      </div>
      <div class="nav-top">
      <ol>
          <li><a href="/profile">Home</a></li>
          <li><a href='/user_search'>Find a Friend's Username</a></li>
          <li><a href='/users/search/feed'>User's Recent Posts</a></li>
          <li><a id="user_feed" href='/user_media_feed'>User Media Feed</a></li>
      </ol>
    </div>
    <% else %>
      <form class="sign-in-form" action="/oauth/connect" method="get">
        <input class="sign-in-button" type="submit" value="Instagram Sign In" />
      </form>
    <% end %>
  </div>
  
  <% if logged_in? %>
    
  <% end %>
  


  
  <div class="center">
    
    <%= yield %>

  </div>

  <div class="map">
    

  </div>

  


  
</body>
</html>

