
<div class="nav-top">
    <ol>
        <li><a href='/user_search'>Find a Friend's Username</a>
        <li><a href='/users/search/feed'>User's Recent Posts</a></li>
        

        <li><a id="user_feed" href='/user_media_feed'>User Media Feed</a>
        <!-- <li><a href='/location_recent_media'>Location Recent Media</a>
        <li><a href='/media_search'>Media Search</a>
        <li><a href='/media_popular'>Popular Media</a>
        <li><a href='/location_search'>Location Search</a> -->
    </ol>
</div>