<div class="form">
  <form id="search_username" class="search-form" method="post" action="/users/search/feed">
    <h1 class="search-title">
      Get User's feed
    </h1>
    <input name="name" type="text" class="search-input" placeholder="name to search" autofocus="" autocomplete="off" style="cursor: pointer; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
    <input type="submit" value="Feed me" class="search-button">
  </form>
</div>